{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }], //using the automatic runtime can reduce the size of your bundle.
    ["@babel/preset-typescript"]
  ]
}
